html, body, #root {
	width: 100%;
	height: 100%;
}

.content-wrapper {
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	height: 100%;
	> * {
		flex-grow: 0;
	}

	section.header {
		position: relative;
	}

	section.app  {
		height: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		overflow-x: hidden;
		> * {
			@include transition(all 0.5s ease);
		}

		section.sidebar {
			@include transition(all 0.5s ease);
			width: 220px;
			min-width: 220px;
			a .label {
				@include transition(opacity 0.5s ease);	
			}
		}

		section.content {
			flex-grow: 1;
			height: 100%;
			.log-view {
				display: flex;
				flex-direction: column;
				align-items: stretch;
    			height: 100%;
				.code-area {
					flex-grow: 1;
					border: 1px solid #777;
					padding: 4px;
					font-size: 0.85em;
					.field {
						display: inline-block;
						width: 100%;
						padding: 0 0 6px 8px;

						> span {
							display: inline-block;
							font-size: 0.9em;
							padding: 0 4px;
							color: #ffffff;
							font-weight: 600;
							margin-right: 2px;
							&.date {
								background-color: #333;
								> span:first-of-type {
									padding-right: 4px;
								}
							}
							&.req {
								margin: 0;
								> * {
									margin: 0 4px;
									padding: 2px 4px;
								}
								.ip {
									background-color: #88A;
								}
								.method {
									background-color: #99C;
									font-weigth: 700;
								}
								.url {
									background-color: #A8D;
									font-size: 1.1em;
								}
								
							}
							&.sess {
								background-color: #8AA;
							}
							&.usr {
								background-color: #A88;
							}
							&.none {
								font-style: italic;
								font-size: 0.7em;
							}
						}

						.msg {
							margin-left: 6px;
							display: inline;
							pre {
								white-space: pre-wrap;       /* css-3 */
								white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
								white-space: -pre-wrap;      /* Opera 4-6 */
								white-space: -o-pre-wrap;    /* Opera 7 */
								word-wrap: break-word;       /* Internet Explorer 5.5+ */
								margin: 0;
								display: inline;
							}
						}
					}
				}
			}
		}

		&.collapsed {
			section.sidebar {
				width: 64px;
				min-width: 64px;
				a .label {
					opacity: 0;
					width: 0;
				}

				&:hover {
					width: 220px;
					min-width: 220px;
					a .label {
						opacity: 1;
						width: auto;
					}
				}
			}
		}
	}
}

